html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#left {
    width: 20%;
    height: 100%;
    float: left;
    overflow: auto;
}
#map {
    height: 100%;
    width: 80%;
}

img.mfp-img {
  padding: 0;
  }


.mfp-panel {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 15.625%;
  height: 100%;
  float: right;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; 
  background: #000000;
  opacity: 1; 
  color: #bbbbbb;
}

.mfp-content {
  width: 84.375%;
}

.mfp-figure:after {
  width: 0%;
}

.mfp-container {
  padding: 0;
}
